.container {
  max-width: var(--max-width-widescreen);
}

nav {
  position: sticky;
  max-height: 3.5rem;
}

.logo {
  margin: 0;
  max-height: 3rem;
  padding-top: 0.5rem;
}

nav .nav-container {
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  text-align: center;
  padding: 1rem 1.5rem;
}

.nav-socials {
  display: none;
}

#bottom-nav {
  display: none;
}

.toggler {
  display: none;
}

#about {
  padding-top: 3rem;
}

.about-container {
  flex-direction: row;
}

.portrait {
  display: block;
}

#portfolio {
  padding-top: 3rem;
}

.cards {
  align-items: unset;
}

.card {
  flex-direction: row;
}

.card-description {
  padding-left: 1rem;
  justify-content: flex-start;
}

#contact {
  margin-top: 25%;
}

.contact-wrapper {
  flex-direction: row;
  flex-basis: 3 1;
  justify-content: space-between;
}

.contact-info {
  flex-direction: column;
  justify-content: space-evenly;
}
