nav {
  position: sticky;
}

nav .nav-container {
  flex-direction: row;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
}

nav ul li {
  padding: 0 1rem;
}

#about {
  flex-direction: row;
}
